table {
    margin: auto;
    border-collapse: collapse;
}

th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

thead,
tbody,
tr,
th,
td {
    padding: 20px;
    font-size: 20px;
    border: 1px solid;
}

div {
    overflow-x: auto;
}

th {
    background-color: rgb(255, 171, 61);
}