<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurante - Página Inicial</title>
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body>
  <header>
    <h1>Bem-vindo ao Nosso Restaurante!</h1>
    <nav>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/cardapio">Cardápio</a></li>
        <li><a href="/reservas">Reservas</a></li>
        <li><a href="/faleconosco">FaleConosco</a></li>
      </ul>
    </nav>
  </header>
  <p>Experimente nossas especialidades deliciosas e desfrute de um ambiente acolhedor.</p>
  <img src="img/restaurante.png" alt="Nosso restaurante acolhedor com ambiente elegante">
</body>
</html>